{% extends 'base.html' %}
{% block content %}

<br>
<button class="btn btn-danger" onClick="hideAllByTag('id_tags')">Show All</button>

{% for tag in tags %}
<button class="btn btn-danger" onClick="hideAllByTag('{{ tag.title }}')">{{ tag.title }}</button>
{% endfor %}

<br><br>

<button class="btn btn-danger" onClick="hideAllByTag('unclaimed')">Interested</button>
<button class="btn btn-danger" onClick="hideAllByTag('started')">Started</button>
<button class="btn btn-danger" onClick="hideAllByTag('completed')">Completed</button>

<br><br>

<div class="row">
{% for item in items %}
  <div class="col-md-2" id="{{ item.get_csv_tags }}">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="{% url 'item|show' pk=item.pk %}">
          {% if item.olympics %}
          Scav Olympics {{ item.number }}
          {% else %}
          Item {{ item.number  }}
          {% endif %}
        </a>
        {% if item.completed %}
        <span class="label label-success">Done</span>
        {% elif item.started %}
        <span class="label label-warning">In Progress</span>
        {% else %}
        <span class="label label-danger">Interested</span>
        {% endif %}
      </h3>
    </div>
    <div class="panel-body">
      {{ item.short_desc }}
    </div>
  </div>
  </div>
{% endfor %}
</div>
{% endblock %}
{% block script %}
  <script>
    var hideAllByTag = function(tagName) {
      allItems = nodeListToArr(document.querySelectorAll("[id^='id_tags']"));
      items = nodeListToArr(document.querySelectorAll("[id*='"+tagName+"']"));
      
      diff = allItems.filter(x => items.indexOf(x) < 0);

      for (i = 0; i < items.length; i++) {
        $(items[i]).show();
      }

      for (i = 0; i < diff.length; i++) {
        $(diff[i]).hide();
      }
		};

    var nodeListToArr = function(nl) {
      var arr = [];
      for(var i = 0, n; n = nl[i]; ++i) arr.push(n);
      return arr;
    }
  </script>
{% endblock %}
