{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Item {{ item.number }} <span class="label label-default">Page {{ item.page.number }}</span></h1>
	<h3>
		{% for tag in item.tags.all %}
			<span class="label label-info">{{ tag.title }}</span>
		{% endfor %}
	</h3>
</div>

<p>{{ item.full_desc }}</p>

{% if user.is_authenticated %}
<form class="form-horizontal" method="post">
	{% csrf_token %}
	<div class="form-group">
		<div style="display:none">
			<div class="col-lg-6">
				{{ form.interest }}
			</div>

			<div class="col-lg-6">
				{{ form.work }}
			</div>

			<div class="col-lg-6">
				Completed {{ form.complete }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-2">
			{% if item_interested %}
			<button type="submit" onclick="$('#id_interest')[0].checked = true" class="btn btn-danger">Uninterested</button>
			{% else %}
			<button type="submit" onclick="$('#id_interest')[0].checked = true" class="btn btn-primary">Interested</button>
			{% endif %}
		</div>
		<div class="col-lg-2">
			{% if item_working %}
			<button type="submit" onclick="$('#id_work')[0].checked = true" class="btn btn-danger">No longer working on</button>
			{% else %}
			<button type="submit" onclick="$('#id_work')[0].checked = true" class="btn btn-primary">Working on</button>
			{% endif %}
		</div>
		<div class="col-lg-2">
			{% if item_complete %}
			<button type="submit" onclick="$('#id_complete')[0].checked = true" class="btn btn-danger">Mark Incomplete</button>
			{% else %}
			<button type="submit" onclick="$('#id_complete')[0].checked = true" class="btn btn-primary">Mark Complete</button>
			{% endif %}
		</div>
	</div>
</form>
{% endif %}

{% for scavvie in interested %}
<a href=""><h2>{{ scavvie.name }}</h2></a>
{% endfor %}

<h2>Comments</h2> 

<a href="{% url 'new|comment' pk=item.pk %}"><button class="btn btn-success">Add Comment</button></a><br><br>

{% if comments %}
	{% for comment in comments %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ comment.scavvie }} (pronouns: {{ comment.scavvie.user.profile.gender_pronouns }})</h3>
		</div>
		<div class="panel-body">
			{{ comment.text }}
		</div>
	</div>
	{% endfor %}
{% else %}
	<h3>Nothing seems to be here yet. Leave a comment now and get the discussion started!</h3>
{% endif %}

{% endblock %}