{% extends 'base.html' %}
{% block content %}

<button class="btn btn-danger" onClick="hideAllByTag('id_tags')">Show All</button>

{% for tag in tags %}
<button class="btn btn-danger" onClick="hideAllByTag('{{ tag.title }}')">{{ tag.title }}</button>
{% endfor %}

{% for item in object_list %}
<div class="row">
  <div class="col-md-6" id="{{ item.get_csv_tags }}">
    <h1> Item {{ item.number  }}</h1>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
  <script>
    var hideAllByTag = function(tagName) {
      allItems = nodeListToArr(document.querySelectorAll("[id^='id_tags']"));
      items = nodeListToArr(document.querySelectorAll("[id*='"+tagName+"']"));
      
      diff = allItems.filter(x => items.indexOf(x) < 0);

      for (i = 0; i < items.length; i++) {
        $(items[i]).show();
      }

      for (i = 0; i < diff.length; i++) {
        $(diff[i]).hide();
      }
		};

    var nodeListToArr = function(nl) {
      var arr = [];
      for(var i = 0, n; n = nl[i]; ++i) arr.push(n);
      return arr;
    }
  </script>
{% endblock %}
