{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
	<h1>{{ hunt.name }}</h1>
</div>

<div class="row">
	<div class="col-lg-3">
		<h2>Important Dates</h2>
		<b>Scav starts</b>
		<p>{{ hunt.start_date }}</p>
		<b>Scav ends</b>
		<p>{{ hunt.end_date }}</p>
	</div>
	<div class="col-lg-3">
		<a href="{{ hunt.list_pdf.url }}"><h2>The List</h2></a>
	</div>
	<div class="col-lg-3">
		<h2><a href="{% url 'hunt|list_items' pk=hunt.pk %}">View All Items</a></h2>
	</div>
	<div class="col-lg-3">
		<h2><a href="{% url 'hunt|list_my_items' pk=hunt.pk %}">View My Items</a></h2>
	</div>
</div>

<div class="row">
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage_done }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ percentage_done }}%;">
			{{ percentage_done }}%
		</div>
	</div>
</div>

{% if hunt.status == "in_progress" or hunt.status == "finished" %}
<div class="row">
	{% for page in pages %}
	<div class="col-lg-2">
		<h2><a href="{% url 'page|show' pk=page.pk %}">Page {{ page.number }}</a></h2>
	</div>
	{% endfor %}
</div>


{% endif %}

{% endblock %}

{% block script %}
{% include 'includes/moment.html' %}
{% include 'includes/highcharts.html' %}
{% endblock %}
