{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Item {{ item.number }}</h1>
	<h2>{{ item.short_desc }}</h2>
</div>

<p>{{ item.full_desc }}</p>

{% if user.is_authenticated %}

{% endif %}

{% for scavvie in interested %}
<a href=""><h2>{{ scavvie.name }}</h2></a>
{% endfor %}

<a href="{% url 'new|comment' pk=item.pk %}"><button class="btn btn-success">Add Comment</button></a>

{% for comment in comments %}
<div class="row">
	<h3>{{ comment.scavvie }}</h3>
	<p>{{ comment.text }}</p>
</div>
{% endfor %}

{% endblock %}