{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Item {{ item.number }}</h1>
	<h2>{{ item.short_desc }}</h2>
</div>

<p>{{ item.full_desc }}</p>

{% if user.is_authenticated %}
<form class="form-horizontal" method="post">
	{% csrf_token %}
	<div class="form-group">
		<div class="row">
			<div class="col-lg-6">
				Interested {{ form.interest }}
			</div>

			<div class="col-lg-6">
				Working {{ form.work }}
			</div>

			<div class="col-lg-6">
				Completed {{ form.complete }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
{% endif %}

{% for scavvie in interested %}
<a href=""><h2>{{ scavvie.name }}</h2></a>
{% endfor %}

<a href="{% url 'new|comment' pk=item.pk %}"><button class="btn btn-success">Add Comment</button></a>

{% for comment in comments %}
<div class="row">
	<h3>{{ comment.scavvie }}</h3>
	<p>{{ comment.text }}</p>
</div>
{% endfor %}

{% endblock %}