{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>{{ hunt.name }}</h1>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>Important Dates</h2>
		<dl class="dl-horizontal">
			<dt>Hunt starts</dt>
			<dd>{{ hunt.start_date }}</dd>
			<dt>Hunt ends</dt>
			<dd>{{ hunt.end_date }}</dd>
		</dl>
	</div>
	<div class="col-lg-4">
		<h2>Hunt Status</h2>
		{% if hunt.status == "in_progress" %}
		<h4 class="text-success">LIVE</h4>
		<p><b>{{ hunt.end_date|timeuntil }}</b> until it all ends.</p>
		{% elif hunt.status == "finished" %}
		<h4 class="text-info">Finished</h4>
		{% elif hunt.status == "future" %}
		<h4 class="text-warning">Future hunt</h4>
		{% endif %}
	</div>
	<div class="col-lg-4">
		<h2><a href="{% url 'hunt|list_items' %}">View All Items</a></h2>
	</div>
</div>

<div class="row">
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage_done }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ percentage_done }}%;">
			{{ percentage_done }}%
		</div>
	</div>
</div>

{% if hunt.status == "in_progress" or hunt.status == "finished" %}
<div class="row">
	{% for page in pages %}
	<div class="col-lg-2">
		<h2><a href="{% url 'page|show' pk=page.pk %}">Page {{ page.number }}</a></h2>
	</div>
	{% endfor %}
</div>


{% endif %}

{% endblock %}

{% block script %}
{% include 'includes/moment.html' %}
{% include 'includes/highcharts.html' %}
{% endblock %}
