{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>My Account</h1>
</div>

<form class="form-horizontal" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="id_phone_number" class="col-lg-2 control-label">Phone number (+1-XXX-XXX-XXXX)</label>
		<div class="col-lg-3">
			{{ form.phone_number }}
			{{ form.phone_number.errors }}
		</div>
	</div>
	<div class="form-group">
		<label for="id_name" class="col-lg-2 control-label">Name</label>
		<div class="col-lg-3">
			{{ form.name }}
			{{ form.name.errors }}
		</div>
	</div>
	<div class="form-group">
		<label for="id_pronouns" class="col-lg-2 control-label">Preferred Gender Pronouns</label>
		<div class="col-lg-3">
			{{ form.gender_pronouns }}
			{{ form.gender_pronouns.errors }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</div>
</form>
{% endblock %}
