{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <h1>Contact Us</h1>
</div>

<p>Please contact a captain if you have any questions or concerns.</p>
<table class="table">
{% for m in captains %}
    <tr>
        <td>Cap'n {{ m.user.profile.name }}</td>
        <td><a href="mailto:{{ m.user.email }}">{{ m.user.email }}</a></td>
        <td>{% if user.is_authenticated %}{{ m.user.profile.phone_number }}{% else %}&nbsp;{% endif %}</td>
    </tr>
{% endfor %}
</table>

<p>For bug reports and any other urgent inquiries regarding the functionality of this website during Scav,
please email <b><a href="mailto:admin@uchicagohvz.org">admin@uchicagohvz.org</a></b>.</p>
{% endblock %}
